{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

{% if error %}
<p class="errornote">
    {{ error }}
</p>
{% endif %}

<div id="content-main">
<p><h3>You can select one of your account usernames from the list, then click the Select button. If you click the Cancel button, the system will generate your username automatically.</h3></p>
<form action="" method="post" id="id-form">{% csrf_token %}
  <div class="form-row">
    {% load forms %}
    {% if form.errors  or form.non_field_errors %}
    <p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}
    <fieldset class="aligned ()">
    {{ form.non_field_errors }}
    {% formfield form.id %}
    </fieldset>
  </div>
  <div class="submit-row">
      <input type="submit" name="Cancel" value="Cancel" class="default" />
      <input type="submit" value="Select" class="default" />
  </div>
</form>
</div>
{% endblock %}
