{% extends "main.html" %}
{% load karaage_tags %}
{% load render_table from django_tables2 %}
{% block title %}Home{% endblock %}


{% block content %}
<div id="content-main">

    {% for_each_app_include "index_top.html" %}

    {% if is_admin %}

    <div class="module">
        <h2>Newest People</h2>
        {% render_table newest_people %}
    </div>

    <div class="module">
        <h2>Newest Projects</h2>
        {% render_table newest_projects %}
    </div>

    {% else %}
      {% if user.is_authenticated %}
        <div class="module object-tools">
         <h3>Welcome {{ user.username }}, please select following buttons to join existing projects or apply for new projects</h3>
           <table>
             <tr>
               <th><a href="{% url 'kg_application_join_mcc' %}">Use MonARCH</a></th>
               <th>Use this option to apply for acces to the Monash Advanced Research Cloud Hybrid (the successor to the Monash Campus Cluster)</th>
             </tr>
             <tr>
               <th><a href="{% url 'kg_application_apply_project' %}">Create project group</a></th>
               <th>Apply for a new project group. This provides you a project space (500GB) to share files with colleagues. Only staff can create project
spaces</th>
             </tr>
             <tr>
               <th><a href="{% url 'kg_application_join_project' %}">Join existing projects</a></th>
               <th>To join existing project groups</th>
             </tr>
             <tr>
               <th><a class="{% active request "profile/projects/" %}" href="{% url 'kg_profile_password' %}">Change linux password</a></th>
               <th>This process changes your Monash eResearch Centre account password. Your HPC account password is not related to your AAF password or your institutional IDP password.</th>
             </tr>
        </table>
      </div>
      {% else %}
        <div class="module">
           <h2>Welcome</h2>
           <p>On this site you can:</p>
           <ul>
              <li>Check/edit your personal details</li>
              <li>View your projects and usage</li>
              <li>View and agree to license terms for restricted software</li>
              <li>Change your password</li>
          </ul>
      </div>
    {% endif %}
    {% endif %}

    {% for_each_app_include "index_bottom.html" %}

    {% if is_admin %}
    <div class="module">
        <h2>Recent Actions</h2>
        {% render_table recent_actions %}
        <div class="object-tools">
            <ul>
                <li><a href="{% url "kg_log_list" %}">View All</a></li>
            </ul>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
