{% extends "karaage/common/profile_base.html" %}


{% block title %}Password Change - My profile{% endblock %}
{% block profile_title %}Password Change{% endblock %}


{% block profile_content %}
<div class="module">
    <h2>Password Change</h2>

    {% if form.has_errors %}
    <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <p>Please enter your new password:</p>

    <form action="." method="post">{% csrf_token %}
        {% load forms %}
        <div>
            <fieldset class="aligned ()">
            {{ form.non_field_errors }}
            {% formfield form.new1 %}
            </fieldset>
        </div>
        <input type="hidden" value="dummy" name="new2"/>
        <input type="submit" value="Change my password"/>
    </form>
</div>
{% endblock %}
