{% extends "karaage/common/profile_base.html" %}
{% load karaage_tags %}
{% load render_table from django_tables2 %}


{% block title %}Projects - My profile{% endblock %}
{% block profile_title %}Projects{% endblock %}


{% block profile_content %}
<div class="module object-tools">
    <h2>Join existing projects or apply for new projects</h2>
  <ul>
      <li><a class="{% active request "profile/projects/" %}" href="{% url 'kg_apply_project' %}">Apply for new projects</a></li>
      <li><a class="{% active request "profile/projects/" %}" href="{% url 'kg_join_project' %}">Join existing projects</a></li>
  </ul>
</div>
{% endblock %}
