{% extends "karaage/common/profile_base.html" %}
{% load karaage_tags %}
{% load render_table from django_tables2 %}


{% block title %}Projects - My profile{% endblock %}
{% block profile_title %}Projects{% endblock %}


{% block profile_content %}
<div class="module">
    <h2>Apply for following projects</h2>
    {% render_table project_list %}

    {% is_for_each_app_include_empty "profile_project_detail_tools.html" as is_empty %}
    {% if not is_empty %}
    <div class="object-tools">
        <ul>
            {% for_each_app_include "profile_project_detail_tools.html" %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
